body {
  background: radial-gradient(
    circle at 10% 20%,
    rgba(216, 241, 230, 0.299) 0.1%,
    rgba(233, 226, 226, 0.21) 90.1%
  );
  font-family: "Roboto", sans-serif;
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}

footer {
  border-top: 1px solid #f9f7fe;
  text-align: center;
  margin-top: 20px;
  color: rgba(39, 33, 66, 0.4);
}

a {
  color: #867e6c;
}

.weather-app {
  background: rgba(255, 255, 255, 0.222);
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

.search-input {
  background: rgba(0, 0, 0, 0.056);
  border: none;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  padding: 20px;
  width: 83%;
  border-radius: 6px;
}

.search-button {
  color: white;
  background: #d4425e;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  padding: 20px;
  margin-left: 5px;
  line-height: 1;
}

.current-date {
  text-align: center;
  font-size: 25px;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.63);
  font-weight: 540;
}

.current-weather {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.current-city {
  font-size: 40px;
  font-weight: 900;
  margin: 0;
}

.current-details {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}

.current-details strong {
  color: #dc585e;
}

.current-temperature-symbol {
  width: 120px;
}

.current-temperature-value {
  font-size: 80px;
  font-weight: bold;
  position: relative;
  bottom: 30px;
}

.current-temperature-unit {
  font-size: 28px;
  position: relative;
  bottom: 70px;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  background: #867e6c1d;
  border-radius: 10px;
  padding: 5px;
}

.weather-forecast-date {
  text-align: center;
  color: rgba(0, 0, 0, 0.512);
  font-size: 16px;
  line-height: 20px;
}

.weather-forecast-symbol {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.weather-forecast-temperatures {
  text-align: center;
  color: #dc585e;
  display: flex;
  justify-content: center;
}

.weather-forecast-temperature {
  padding: 0 3px;
}

.townImage {
  max-width: 100%;
  width: 230px;
  height: auto;
  position: relative;
  z-index: -1;
  margin: -100px;
  top: 133px;
  left: 250px;
}
